.activeLink {
  color: white;
}

.link {
  font-size: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.greeting {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
